@use 'abstracts';
@use 'layout';
@use 'theme';

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans&display=swap');

@layer reset, base;

:root {
    font-family: 'Fira Sans', sans-serif;

    @for $i from 0 through 9 {
        $bg-hue: 254;

        --bg#{$i}-hsl: #{$bg-hue},
        20%,
        #{5% + $i * 3%};

        --fg#{$i}-hsl: #{(360-$bg-hue) % 360},
        5%,
        #{70% + $i * 2%};

        --bg-highlight#{$i}-hsl: #{$bg-hue},
        20%,
        #{15% + $i * 3%};

        --fg-highlight#{$i}-hsl: #{(360-$bg-hue) % 360},
        5%,
        #{70% + $i * 2%};
    }

    color: hsl(var(--fg0-hsl));
    background-color: hsl(var(--bg0-hsl));

    --gradient-light: 118,
    226,
    244;
    --gradient-middle: 97,
    93,
    236;
    --gradient-dark: 48,
    23,
    129;
}

@layer base {
    body {
        scroll-behavior: smooth;
    }

    nav {
        $layer: 8;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: abstracts.bg($layer);
            color: abstracts.fg($layer);
        }

        li {
            float: left;
        }

        li a {
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            color: abstracts.fg-highlight($layer);
            background-color: abstracts.bg-highlight($layer);
        }
    }

    h1,
    h2 {
        border-image-slice: 1;
        border-width: 0px;
        border-bottom: 4px;
        border-style: solid;
        border-image-source:
            linear-gradient(to right,
                abstracts.$brand-dark,
                abstracts.$brand-middle,
                abstracts.$brand-light 70%,
                abstracts.$brand-light 75%,
                transparent 90%);

        img.text-inline-logo {
            height: 0.7em;
            top: 0em;
        }
    }

    a {
        color: abstracts.$brand-light;
    }

    a:hover {
        color: abstracts.$brand-middle;
    }

    a:visited {
        color: inherit;
    }

    a:visited:hover {
        color: abstracts.$brand-light;
    }

    a.no-decor,
    a.no-decor:hover,
    a.no-decor:visited,
    a.no-decor:visited:hover {
        text-decoration: none;
        color: inherit;
    }

    img.text-inline-logo {
        height: 1em;
        top: .125em;
        display: inline-flex;
        position: relative;
    }
}