{{- define "main" }}
<p>
  <b><a href='{{ relURL "skills" }}'>← All skills</a></b>
</p>
<h1>
  {{- with .Params.parent_skill }}
  {{- $skills := . }}
  {{- range $skills }}
  {{- $page := path.Join (slice "skills" .) | $.Site.GetPage }}
  <a href="{{ $page.Permalink }}">{{ $page.Title }}/</a>
  {{- end }}
  {{- $.Page.Title }}
  {{- else }}
  {{- .Page.Title }}
  {{- end }} Projects
</h1>

<div class="column gap-medium">
    {{- range .Pages }}
    {{- partial "inline/project-card.html" . }}
    {{- end }}
</div>
{{ .Content }}
{{- end }}