<h1 id="name">{{ site.Params.author }}</h1>
<h2 id="position">{{ .Title }}</h2>
{{- with site.Data.contact }}
<section id="contact">
    <p>
        {{- range . }}
        {{- with .icon }}
        {{- with printf "icons/%s" . | resources.Get }}
        <img src='{{ .RelPermalink }}' class="text-inline-logo">
        {{- else }}
        {{- errorf "No icon for %s" . }}
        {{- end }}
        {{- end}}
        {{- with .url }}
        <a href="{{ . }}">
            {{- end }}
            {{ .display }}
            {{- with .url }}
        </a>
        {{- end }}
        <br>
        {{- end }}
    </p>
</section>
{{- end }}