@use 'variables';

@function bg($layer) {
    @if 0>$layer or $layer>9 {
        @error "background layer should be 0..9, got #{$layer}.";
    }

    @return hsl(variables.$bg-hue, 20%, 5% + $layer * 3%);
}

@function fg($layer) {
    @if 0>$layer or $layer>9 {
        @error "foreground layer should be 0..9, got #{$layer}.";
    }

    @return hsl((360 - variables.$bg-hue)%360, 5%, 70% + $layer * 2%);
}


@function bg-highlight($layer) {
    @if 0>$layer or $layer>9 {
        @error "background highlight layer should be 0..9, got #{$layer}.";
    }

    @return hsl(variables.$bg-hue, 20%, 15% + $layer * 3%);
}

@function fg-highlight($layer) {
    @return fg($layer)
}