@use 'functions' as *;

@mixin layer($layer) {
    color: fg($layer);
    background-color: bg($layer);
}

@mixin layer-highlight($layer) {
    color: fg-highlight($layer);
    background-color: bg-highlight($layer);
}