<a href="{{ .Permalink }}" class="no-decor">
    <div class="card-header row space-between">
        <h2 style="text-decoration: underline;">{{ .LinkTitle }}</h2>
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </div>
    <div class="card-body">
        {{ partial "github.html" .Params.github }}

        <p>
            {{ range .GetTerms "skills" }}
            {{ partial "skill-pill.html" . }}
            {{ end }}
        </p>

        {{ .Description }}
    </div>
</a>